# General
.DS_Store
.AppleDouble
.LSOverride

# Build products
build/
DerivedData/

# Swift Package Manager
.swiftpm/
.build/

# Xcode project files
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcshareddata/
*.xcworkspace/xcuserdata/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# User-specific files
*.dSYM/
*.moved-aside
*.xccheckout
*.xcscheme

# Other
*.app
*.ipa

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# VS Code specific
.vscode/
